<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>Analyzing the Impact of Traffic Accidents on Speed and Traffic Volume in New York City</title>
   <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
   <div class="main-container">
      <div class="header">
         <div class="title">Traffic Accidents Analyzer in New York City</div>
         <div class="datetime-selector">
            <input type="date">
            <select>
               <option></option>
            </select>
         </div>
      </div>
      <div class="content-container">
         <div id="map"></div>
         <div class="description-wrapper">
            <div id="top-content">
               graph1
            </div>
            <div id="bottom-content">
               graph2
            </div>
         </div>
      </div>
   </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.js"></script>
<script type="module" src="../static/js/main.js"></script>
</body>
</html>
